
.aboutMain{
    display : flex;
    flex-direction: column;
    width : 70%;
    padding-left: 2em;
    padding-right: 2em;
}
.aboutDiv{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: justify;
}

.aboutImg{
    width: 10%;
    border-radius: 50%;
    border: solid var(--main-color) 0.2em;
}
.aboutParagraph{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.aboutListItem{
    list-style-type: none;
    border : solid black 0.1em;
    padding: 0.5em 1em;
}
.aboutListItem:nth-child(even){
    background-color: lightgray;
}
.aboutListItem:nth-child(odd){
    background-color: white;
}
.aboutDiv:first-of-type{
    display : flex;
    align-items: center;
}
.aboutDiv:first-of-type .aboutParagraph{
    width:80%;
    margin-right: 2em;
}
.aboutDiv:first-of-type .aboutImg{
    width:10em;
    height: 10em;
}
.chapterTitle{
    padding-left: 1em;
}
